@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
    --primary-font: 'Lato';
    --secondary-font: "Open Sans";
    --block-title-color: #343e4d;
    --accent-color: #b940aa;
    --brand-color: #32bbcb;
    --footer-info-background-color: rgb(39, 47, 60);
    --main-text-color: #fff;
    --secondary-text-color: #7e8a99;
    --contact-links-grey-color: #b5b5b5;
    --dark-shade-color: #272f3c;
    --card-background-color: #fafbfc;
    --carouser-item-backgound-color: rgb(250, 251, 252);
}

* {
    margin: 0;
    padding: 0;
}

body, .header-upper {
    max-width: 1280px;
    margin: auto;
}

.menu, .social-media {
    list-style: none;
}

h2 {
    color: var(--block-title-color);
    font-family: var(--primary-font, 'serif');
    font-size: 42px;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-family: var(--primary-font, 'serif');
    font-size: 22px;
    font-weight: 700;
}

.colored-dot {
    color: var(--brand-color);
}

/*header*/
header {
    color: var(--main-text-color);
}

.header-upper {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
}

.contacts-upper {
    background-color: var(--main-text-color);
    color: var(--contact-links-grey-color);
    font-family: var(--secondary-font, 'serif');
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.contacts-upper .phone-number,
.mobile-menu-wrap .phone-number {
    color: var(--contact-links-grey-color);
    font-weight: 700;
}

.contacts-upper .phone-number:hover,
.mobile-menu-wrap .phone-number:hover {
    color: var(--brand-color);
}

.contacts-upper .social-media,
.contacts-card .social-media,
.mobile-menu-wrap .social-media,
footer .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.social-media img:hover {
    fill: red;
}

nav {
    /* TODO: uncomment when change of color on scroll is implemented */
    /*background: var(--dark-shade-color);*/
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    align-content: center;
    transition: background-color 0.3s ease-in;
}

.header-upper nav.colored {
    background: var(--dark-shade-color);
    transition: background-color 0.3s ease-in;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 45px;
}

/*Hamburger menu*/
#menu-toggle-checkbox {
    display: none;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 40px;
}

.hamburger-icon {
    display: none;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 2001;
}

.hamburger-icon > span,
.hamburger-icon > span::before,
.hamburger-icon > span::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
}

.hamburger-icon > span::before {
    top: -10px;
}

.hamburger-icon > span::after {
    top: 10px;
}

#menu-toggle-checkbox:checked ~ label {
    display: block;
}

#menu-toggle-checkbox:checked ~ label > span {
    transform: rotate(45deg);
}

#menu-toggle-checkbox:checked ~ label > span::before {
    opacity: 0;
}

#menu-toggle-checkbox:checked ~ label > span::after {
    top: 0;
    transform: rotate(90deg);
}

/*Mobile menu*/
.mobile-menu-overlay {
    display: none;
}

.mobile-menu-overlay .logo {
    position: fixed;
    top: 30px;
    left: 40px;
}

.mobile-menu-overlay .mobile-menu-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.mobile-menu-overlay .menu {
    flex-direction: column;
    align-items: center;
}

.mobile-menu-overlay .menu,
.mobile-menu-overlay p {
    margin-bottom: 50px;
}

.mobile-menu-overlay .social-media {
    display: flex;
    align-items: center;
}

/*show mobile menu on toggle*/
#menu-toggle-checkbox:checked ~ .mobile-menu-overlay {
    display: block;
    position: fixed;
    background: var(--dark-shade-color);
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#menu-toggle-checkbox:checked ~ .mobile-menu-overlay .menu {
    display: flex;
}

.nav-menu-link {
    color: var(--main-text-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
}

.nav-menu-link:hover {
    color: var(--brand-color);
}

.logo {
    font-family: var(--primary-font);
    font-size: 32px;
}

.header-banner {
    background: linear-gradient(90deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga_header_background.jpg") no-repeat;
    background-size: cover;
    padding: 250px 40px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.banner-content {
    position: relative;
    top: 9em;
    z-index: 1;
}

.header-banner h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 82px;
}

.header-banner p {
    font-family: var(--secondary-font);
    font-size: 14px;
}

/*@media screen and (max-width: 1024px) {*/
/*    nav {*/
/*        background: var(--dark-shade-color);*/
/*    }*/

/*    .contacts-upper, .menu {*/
/*        display: none*/
/*    }*/

/*    .logo {*/
/*        font-size: 34px;*/
/*    }*/

/*    .hamburger-icon {*/
/*        display: flex;*/
/*    }*/

/*    .header-banner h1 {*/
/*        font-size: 82px;*/
/*    }*/

/*    .header-banner p {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 481px) and (max-width: 768px) {*/
/*    .logo {*/
/*        font-size: 34px;*/
/*    }*/

/*    .header-banner h1 {*/
/*        font-size: 58px;*/
/*    }*/

/*    .header-banner p {*/
/*        font-size: 16px;*/
/*    }*/

/*    #pricing .membership-types-list {*/
/*        flex-direction: column;*/
/*        margin-left: 30px;*/
/*        margin-right: 30px;*/
/*        margin-bottom: 30px;*/
/*        padding: 0;*/
/*    }*/

/*    .pricing .membership-types-list .membership-type {*/
/*        height: 300px;*/
/*        margin: 0 0 30px;*/
/*    }*/

/*    .quote .quote-container {*/
/*        width: 80%;*/
/*    }*/

/*    .quote .quote-text {*/
/*        font-size: 22px;*/
/*    }*/
/*}*/

/*@media screen and (min-width: 320px) and (max-width: 480px) {*/
/*    .logo {*/
/*        font-size: 38px;*/
/*    }*/
/*}*/

/*sections*/
.overview,
.classes {
    text-align: center;
    /*padding-right: 40px;*/
    /*padding-left: 40px;*/
    padding-top: 100px;
}

/*overview section*/
.overview-background {
    color: var(--main-text-color);
    background: linear-gradient(40deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga-overview-optimized.jpg") 50% 50% no-repeat;
    background-size: cover;
    margin-top: 60px;
    min-height: 500px;
}

.overview-content {
    position: relative;
    top: 150px;
    padding: 0 35px;
    line-height: 2;
}

.overview-background h3 {
    margin-bottom: 10px;
}

.overview-background p {
    font-family: var(--secondary-font);
    font-size: 14px;
    margin-bottom: 35px;
}

.button {
    text-decoration: none;
    background: var(--brand-color);
    color: var(--main-text-color);;
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 3px;
    display: inline-block;
}

.button:hover {
    background: var(--accent-color);
}

/*classes section*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-container {
    margin-top: 100px;
    width: 100%;
    position: relative;
}

.carousel-items.tablet {
    display: none;
}

.carousel-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 50px;
}

.carousel-item {
    width: 30%;
    height: 350px;
    background: var(--carouser-item-backgound-color);
    display: none;
    left: 0;
    opacity: 0;
    transition: opacity;
}

.carousel-item.active {
    display: flex;
    opacity: 1;
    left: 0;
    transition: opacity;
}


.carousel-item article {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-item article p {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--secondary-text-color);
    font-size: 14px;
}

.carousel-item img {
    width: 70px;
    height: 70px;
}

.carousel-pagination {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.pagination-buttons-container {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.carousel-pagination .pagination-button {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-pagination .pagination-button.current {
    background-color: dimgrey;
}

.prev, .next {
    background-image: url("../img/next-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    position: absolute;
    top: 40%;
}

.prev {
    transform: scaleX(-1);
    left: 0;
}

.next {
    right: 0;
}

.prev, .next:hover {
    cursor: pointer;
}

.classes .classes-list {
    margin-top: 60px;
}

/*// Styles for carousel when swiper is used*/
/*.classes p {*/
/*    font-family: var(--secondary-font);*/
/*    font-size: 14px;*/
/*}*/

/*.classes article {*/
/*    background: var(--card-background-color);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    min-height: 300px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*}*/

/*.classes-list article img {*/
/*    width: 70px;*/
/*    height: 70px;*/
/*}*/

.quote {
    background: linear-gradient(40deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga_cite_background.jfif") no-repeat 90% 0;
    background-size: cover;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 50px;
    min-height: 300px;
    color: var(--main-text-color);
    text-align: center;
}

.quote img {
    width: 50px;
    height: 50px;
}

.quote-container {
    position: relative;
    width: 50%;
    margin: auto;
}

.quote-container:before {
    content: '';
    width: 100%;
    border-top: white solid 1px;
    position: absolute;
    left: 0;
    opacity: .3;
}

.quote-image {
    min-height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.quote-image img {
    position: absolute;
    top: -50%;
}

.quote-image:before {
    content: '';
    width: 45%;
    border-top: white solid 1px;
    position: absolute;
    left: 0;
    opacity: .3;
}

.quote-image:after {
    content: '';
    width: 45%;
    border-top: white solid 1px;
    position: absolute;
    right: 0;
    opacity: .3;
}

.quote-text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 26px;
    font-style: italic;
    padding: 70px 0;
}

/*pricing section*/
.pricing {
    background: url("../img/prices-background.png") no-repeat 51.88% 63.6%;
    background-size: cover;
    padding-top: 100px;
}

.pricing h3,
.pricing .price-item {
    margin-bottom: 20px;
}

.pricing .membership-types-list {
    text-align: center;
    display: flex;
    padding: 0 50px 100px;
    margin-top: 60px;
}

.membership-type {
    background: white;
    width: calc(100% - 100px);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgb(33 67 71 / 30%);
    padding: 50px;
}

.membership-type:nth-child(odd) {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 300px;
}

.membership-type.central {
    z-index: 1;
    padding: 80px 50px;
}

.pricing h3 {
    color: var(--brand-color);
    font-family: var(--primary-font);
    font-size: 22px;
}

.prices-list {
    font-family: var(--secondary-font);
    font-size: 14px;
}

.price-item-name {
    color: var(--secondary-text-color);
}

.price {
    font-weight: bold;
}

/* get started */
.get-started {
    background: linear-gradient(40deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%),
    url("../img/get-started.jfif") no-repeat 50% 50%;
    background-size: cover;
    min-height: 250px;
    color: white;
    font-family: var(--secondary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.get-started-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.get-started-content .interested-in-class {
    margin-bottom: 15px;
    font-family: var(--primary-font);
    font-size: 38px;
}

.get-started-content a {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

/*contacts container*/
.contacts .contacts-card {
    width: 40%;
    height: 60%;
    top: 20%;
    left: 3%;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgb(33 67 71 / 30%);
    text-align: center;
}

#map {
    width: 100%;
    height: 800px;
    filter: grayscale(100%);
}

.contacts {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
    position: relative;
}

.contacts-card .social-media {
    grid-gap: 30px;
}

.contacts-card .social-media img {
    width: 32px;
    height: 32px;
}

.contact-means, .contact-means a {
    color: var(--contact-links-grey-color);
    text-decoration: underline;
}

.contact-means a {
    text-decoration: none;
    font-size: 14px;
}

/*feedback container*/
.feedback {
    background: linear-gradient(40deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/form_background.jfif") 45% 24%;
    height: 1000px;
    color: var(--secondary-text-color);
    font-family: var(--secondary-font, 'serif');
    font-size: 16px;
    position: relative;
    text-align: center;
}

.feedback-form-wrapper {
    box-sizing: border-box;
    position: absolute;
    width: 45%;
    height: 80%;
    right: 6%;
    top: 10%;
    padding: 60px;
    background: var(--main-text-color);
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgb(33 67 71 / 8%);
}

.feedback form {
    margin-top: 30px;
    font-size: 14px;
}

.feedback-form-wrapper p {
    margin-top: 30px;
}

.feedback form input,
.feedback form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 40px;
    margin-bottom: 25px;
    border: none;
    background: rgba(39, 47, 60, 0.12);
}

.feedback form textarea {
    resize: none;
}

.feedback-form-wrapper form input[type="submit"] {
    margin-top: 45px;
    color: var(--main-text-color);
    background-color: var(--brand-color);
}

/*footer info*/
.info-wrapper {
    color: var(--main-text-color);
    background: var(--footer-info-background-color);
    padding: 5% 5% 3%;
    font-family: var(--secondary-font);
}

.info {
    color: var(--main-text-color);
    background: var(--footer-info-background-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.info .short-info {
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 2;
}

.info nav {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100%;
    padding: 0;
    margin-left: 20%;
}

footer .social {
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social h3 {
    margin-bottom: 10%;
}

.info-wrapper .copyright {
    display: flex;
    justify-content: space-between;
}

.info-wrapper .copyright {
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    nav {
        background: var(--dark-shade-color);
    }

    .contacts-upper, .menu {
        display: none
    }

    .logo {
        font-size: 34px;
    }

    .hamburger-icon {
        display: flex;
    }

    .header-banner h1 {
        font-size: 82px;
    }

    .header-banner p {
        font-size: 16px;
    }

    .membership-type.central {
        padding: 50px;
    }

    .contacts .contacts-card {
        position: static;
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width: 922px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
        font-size: 34px;
    }

    .header-banner h1 {
        font-size: 58px;
    }

    .header-banner p {
        font-size: 16px;
    }

    /*#pricing .membership-types-list {*/
    /*    flex-direction: column;*/
    /*    margin-left: 30px;*/
    /*    margin-right: 30px;*/
    /*    margin-bottom: 30px;*/
    /*    padding: 0;*/
    /*}*/
    .pricing .membership-types-list .membership-type {
        height: 300px;
        margin: 0 0 30px;
    }

    .quote .quote-container {
        width: 80%;
    }

    .quote .quote-text {
        font-size: 22px;
    }


}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .logo {
        font-size: 38px;
    }

    .get-started-content {

    }
}

@media screen and (max-width: 720px) {
    #pricing .membership-types-list {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 0;
    }

    .feedback-form-wrapper {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        right: 0;
    }
}
