@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
    --primary-font: 'Lato';
    --secondary-font: "Open Sans";
    --block-title-color: #343e4d;
    --accent-color: #b940aa;
    --brand-color: #32bbcb;
    --footer-info-background-color: rgb(39, 47, 60);
    --main-text-color: #fff;
    --grey-text-color: #7e8a99;
    --contact-links-grey-color: #b5b5b5;
    --dark-shade-color: #272f3c;
    --card-background-color: #fafbfc;
}

* {
    margin: 0;
    padding: 0;
}

body, .header-upper {
    max-width: 1280px;
    margin: auto;
}

.menu, .social-media {
    list-style: none;
}

h2 {
    color: var(--block-title-color);
    font-family: var(--primary-font, 'serif');
    font-size: 42px;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-family: var(--primary-font, 'serif');
    font-size: 22px;
    font-weight: 700;
}

.colored-dot {
    color: var(--brand-color);
}

/*header*/
header {
    color: var(--main-text-color);
}

.header-upper {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
}

.contacts-upper {
    background-color: var(--main-text-color);
    color: var(--contact-links-grey-color);
    font-family: var(--secondary-font, 'serif');
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.contacts-upper .phone-number,
.mobile-menu-wrap .phone-number {
    color: var(--contact-links-grey-color);
    font-weight: 700;
}

.contacts-upper .phone-number:hover,
.mobile-menu-wrap .phone-number:hover {
    color: var(--brand-color);
}

.contacts-upper .social-media,
.mobile-menu-wrap .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.social-media img:hover {
    fill: red;
}

nav {
    /* TODO: uncomment when change of color on scroll is implemented */
    /*background: var(--dark-shade-color);*/
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    align-content: center;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 45px;
}

/*Hamburger menu*/
#menu-toggle-checkbox {
    display: none;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    right: 40px;
}

.hamburger-icon {
    display: none;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 2001;
}

.hamburger-icon > span,
.hamburger-icon > span::before,
.hamburger-icon > span::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: white;
    position: absolute;
}

.hamburger-icon > span::before {
    top: -10px;
}

.hamburger-icon > span::after {
    top: 10px;
}

#menu-toggle-checkbox:checked ~ label {
    display: block;
}

#menu-toggle-checkbox:checked ~ label > span {
    transform: rotate(45deg);
}

#menu-toggle-checkbox:checked ~ label > span::before {
    opacity: 0;
}

#menu-toggle-checkbox:checked ~ label > span::after {
    top: 0;
    transform: rotate(90deg);
}

/*Mobile menu*/
.mobile-menu-overlay {
    display: none;
}

.mobile-menu-overlay .logo {
    position: fixed;
    top: 30px;
    left: 40px;
}

.mobile-menu-overlay .mobile-menu-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100px;
}

.mobile-menu-overlay .menu {
    flex-direction: column;
    align-items: center;
}

.mobile-menu-overlay .menu,
.mobile-menu-overlay p {
    margin-bottom: 50px;
}

.mobile-menu-overlay .social-media {
    display: flex;
    align-items: center;
}

/*show mobile menu on toggle*/
#menu-toggle-checkbox:checked ~ .mobile-menu-overlay {
    display: block;
    position: fixed;
    background: var(--dark-shade-color);
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#menu-toggle-checkbox:checked ~ .mobile-menu-overlay .menu {
    display: flex;
}

.nav-menu-link {
    color: var(--main-text-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
}

.nav-menu-link:hover {
    color: var(--brand-color);
}

.logo {
    font-family: var(--primary-font);
    font-size: 32px;
}

.header-banner {
    background: linear-gradient(90deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga_header_background.jpg") no-repeat;
    background-size: cover;
    padding: 250px 40px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.banner-content {
    position: relative;
    top: 9em;
    z-index: 1;
}

.header-banner h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 82px;
}

.header-banner p {
    font-family: var(--secondary-font);
    font-size: 14px;
}

@media (max-width: 1024px) {
    nav {
        background: var(--dark-shade-color);
    }

    .contacts-upper, .menu {
        display: none
    }

    .logo {
        font-size: 38px;
    }

    .hamburger-icon {
        display: flex;
    }

    .header-banner h1 {
        font-size: 82px;
    }

    .header-banner p {
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }

    .header-banner h1 {
        font-size: 58px;
    }

    .header-banner p {
        font-size: 16px;
    }
}

/*sections*/
.overview,
.classes {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 100px;
}

/*overview section*/
.overview-background {
    color: var(--main-text-color);
    background: linear-gradient(40deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga-overview-optimized.jpg") 50% 50% no-repeat;
    background-size: cover;
    margin-top: 60px;
    min-height: 500px;
}

.overview-content {
    position: relative;
    top: 150px;
    padding: 0 35px;
    line-height: 2;
}

.overview-background h3 {
    margin-bottom: 10px;
}

.overview-background p {
    font-family: var(--secondary-font);
    font-size: 14px;
    margin-bottom: 35px;
}

.button {
    text-decoration: none;
    background: var(--brand-color);
    color: var(--main-text-color);;
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 3px;
    display: inline-block;
}

.button:hover {
    background: var(--accent-color);
}

/*classes section*/
.swiper-container {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.classes .classes-list {
    margin-top: 60px;
}

.classes p {
    font-family: var(--secondary-font);
    font-size: 14px;
}

.classes article {
    background: var(--card-background-color);
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.classes-list article img {
    width: 70px;
    height: 70px;
}

.classes .quote-wrapper {
    background: url("../img/yoga_cite_background.jfif") no-repeat;
    background-size: cover;
    min-height: 300px;
    color: var(--main-text-color);
    text-align: center;
}

.quote {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 26px;
}

/*pricing section*/
.pricing {
    background: url("../img/prices-background.png");
}

.pricing h3 {
    color: var(--brand-color);
    font-family: var(--primary-font);
    font-size: 22px;
}

.prices-list {
    font-family: var(--secondary-font);
    font-size: 14px;
}

.price-item-name {
    color: var(--grey-text-color);
}

.price {
    font-weight: bold;
}

/*contacts container*/
.contacts {
    color: var(--grey-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

.contact-means, .contact-means a {
    color: var(--contact-links-grey-color);
    text-decoration: underline;
}

.contact-means a {
    text-decoration: none;
    font-size: 14px;
}

/*feedback container*/
.feedback {
    background: url("../img/form_background.jfif");
    color: var(--grey-text-color);
    font-family: var(--secondary-font, 'serif');
    font-size: 16px;
}

.feedback-form-wrapper {
    width: 35%;
    height: 90%;
    background: var(--main-text-color);
}

.feedback form {
    width: 100%;
    margin: auto;
    font-size: 14px;
}

.feedback form input, textarea {
    border: none;
    background: rgba(39, 47, 60, 0.12);
}

/*footer info*/
.info {
    color: var(--main-text-color);
    background: var(--footer-info-background-color);
}

.info h2 {
    color: var(--main-text-color);
}

