@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
    --primary-font: 'Lato';
    --secondary-font: "Open Sans";
    --block-title-color: #343e4d;
    --accent-color: #b940aa;
    --brand-color: #32bbcb;
    --footer-info-background-color: rgb(39, 47, 60);
    --white-color: #fff;
    --grey-text-color: #7e8a99;
    --contact-links-grey-color: #b5b5b5;
    --dark-shade-color: #272f3c;
}

* {
    margin: 0;
    padding: 0;
}

body, .header-upper {
    max-width: 1280px;
    margin: auto;
}

.menu, .social-media {
    list-style: none;
}

h2 {
    color: var(--block-title-color);
    font-family: var(--primary-font, 'serif');
    font-size: 42px;
    text-align: center;
}

h3 {
    font-family: var(--primary-font, 'serif');
    font-size: 22px;
    font-weight: 700;
}

.colored-dot {
    color: var(--brand-color);
}

/*header*/
header {
    color: var(--white-color);
}

.header-upper {
    position: fixed;
    left: 0;
    right: 0;
}

.contacts-upper {
    background-color: var(--white-color);
    color: #b5b5b5;
    font-family: var(--secondary-font, 'serif');
    font-weight: bold;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.contacts-upper .phone-number {
    color: var(--contact-links-grey-color);
    font-weight: 700;
}

.contacts-upper .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.social-media img {
    width: 25px;
    height: 25px;
}

nav {
    /* TODO: uncomment when change of color on scroll is implemented */
    /*background: var(--dark-shade-color);*/
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    align-content: center;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 45px;
}

.nav-menu-link {
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
}

.logo {
    font-family: var(--primary-font);
    font-size: 32px;
}

.header-banner {
    background: linear-gradient(90deg, rgba(17, 72, 214, 0.8) 0%, rgba(185, 64, 170, 0.8) 100%), url("../img/yoga_header_background.jpg") no-repeat;
    background-size: cover;
    padding: 250px 40px;
    display: flex;
    flex-direction: column;
    min-height: 50px;
}

.banner-content {
    position: relative;
    top: 3.5em;
}

.header-banner h1 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 70px;
}

.header-banner p {
    font-family: var(--secondary-font);
    font-size: 14px;
}

@media (max-width: 1024px) {
    .contacts-upper, .menu {
        display: none
    }

    .logo {
        font-size: 38px;
    }

    .header-banner h1 {
        font-size: 82px;
    }

    .header-banner p {
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logo {
        font-size: 34px;
    }

    .header-banner h1 {
        font-size: 58px;
    }

    .header-banner p {
        font-size: 16px;
    }
}

/*overview section*/
.overview {
    margin: 0 auto;
    text-align: center;
}

.about {
    color: var(--white-color);
    background-size: contain;
    background: url("../img/yoga-overview-optimized.jpg") 50% 50% no-repeat;
    background-size: cover;
    margin: auto;
}

.about p {
    font-family: var(--secondary-font);
    font-size: 14px;
    height: auto;
    min-height: 500px;
}

.button {
    text-decoration: none;
    background: var(--brand-color);
    color: var(--white-color);;
    font-family: var(--primary-font);
    font-size: 14px;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 3px;
    display: inline-block;
}

.button:hover {
    background: var(--accent-color);
}

/*classes section*/
.classes p {
    font-family: var(--secondary-font);
    font-size: 14px;
}

.classes article {
    background: var(--white-color);
}

.classes .quote-wrapper {
    background: url("../img/yoga_cite_background.jfif") no-repeat;
    background-size: cover;
    min-height: 300px;
    color: var(--white-color);
    text-align: center;
}

.quote {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 26px;
}

/*pricing section*/
.pricing {
    background: url("../img/prices-background.png");
}

.pricing h3 {
    color: var(--brand-color);
    font-family: var(--primary-font);
    font-size: 22px;
}

.prices-list {
    font-family: var(--secondary-font);
    font-size: 14px;
}

.price-item-name {
    color: var(--grey-text-color);
}

.price {
    font-weight: bold;
}

/*contacts container*/
.contacts {
    color: var(--grey-text-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

.contact-means, .contact-means a {
    color: var(--contact-links-grey-color);
    text-decoration: underline;
}

.contact-means a {
    text-decoration: none;
    font-size: 14px;
}

/*feedback container*/
.feedback {
    background: url("../img/form_background.jfif");
    color: var(--grey-text-color);
    font-family: var(--secondary-font, 'serif');
    font-size: 16px;
}

.feedback-form-wrapper {
    width: 35%;
    height: 90%;
    background: var(--white-color);
}

.feedback form {
    width: 100%;
    margin: auto;
    font-size: 14px;
}

.feedback form input, textarea {
    border: none;
    background: rgba(39, 47, 60, 0.12);
}

/*footer info*/
.info {
    color: var(--white-color);
    background: var(--footer-info-background-color);
}

.info h2 {
    color: var(--white-color);
}

